Installer/Resource/workspace/system/framework/*.odex
Installer/Resource/workspace/system/framework/*.jar
Installer/Resource/workspace/classesout
Installer/Resource/workspace/classes.dex
Installer/Resource/workspace/old-classes.dex